In [2]:
from sqlalchemy import create_engine, Column, Integer, String, ForeignKey, MetaData, Boolean, Table, DateTime, Float
from sqlalchemy.orm import relationship, declarative_base, sessionmaker, backref
import lorem
import names

ImportError: cannot import name 'declarative_base' from 'sqlalchemy.orm' (C:\Users\86999\Anaconda3\lib\site-packages\sqlalchemy\orm\__init__.py)

# Create Database

load ipython-sql
create db connection

In [1]:
%load_ext sql
%sql sqlite:///GradeDB.db1

### students-table

In [3]:
%%sql
CREATE TABLE IF NOT EXISTS students (
   university_id TEXT PRIMARY KEY,
   first_name TEXT NOT NULL,
   last_name TEXT NOT NULL,
   email TEXT NOT NULL UNIQUE
)

 * sqlite:///GradeDB.db
Done.

[]

### questions-table

In [4]:
%%sql
CREATE TABLE IF NOT EXISTS questions (
   question_id INTEGER PRIMARY KEY,
   title TEXT NOT NULL UNIQUE,
   text TEXT NOT NULL UNIQUE,
   max_score INTEGER
)

 * sqlite:///GradeDB.db
Done.

[]

### tasks-table

In [5]:
%%sql
CREATE TABLE IF NOT EXISTS tasks (
   task_id INTEGER PRIMARY KEY,
   title TEXT NOT NULL,
   text TEXT NOT NULL
)

 * sqlite:///GradeDB.db
Done.

[]

### allocate_questions-table

In [6]:
%%sql
CREATE TABLE IF NOT EXISTS allocate_questions(
   question_id INTEGER NOT NULL,
   task_id INTEGER NOT NULL,
   PRIMARY KEY (question_id, task_id),
   FOREIGN KEY (question_id) 
      REFERENCES questions (question_id) 
         ON DELETE CASCADE 
         ON UPDATE NO ACTION,
   FOREIGN KEY (task_id) 
      REFERENCES tasks (task_id) 
         ON DELETE CASCADE 
         ON UPDATE NO ACTION
)

 * sqlite:///GradeDB.db
Done.

[]

### assignments table

In [7]:
%%sql
CREATE TABLE IF NOT EXISTS assignments (
   assignment_id INTEGER PRIMARY KEY,
   university_id STRING NOT NULL,
   task_id INTEGER NOT NULL,
   submission BOOLEAN,
   FOREIGN KEY (university_id)
      REFERENCES students (university_id)
         ON DELETE CASCADE
         ON UPDATE NO ACTION,
   FOREIGN KEY (task_id)
      REFERENCES tasks (task_id)
         ON DELETE CASCADE
         ON UPDATE NO ACTION
)

 * sqlite:///GradeDB.db
Done.

[]

### answers-table

In [8]:
%%sql
CREATE TABLE IF NOT EXISTS answers (
    answer_id INTEGER PRIMARY KEY,
    submission_id INTEGER,
    question_id INTEGER, 
    text TEXT,
    FOREIGN KEY(submission_id)
        REFERENCES submissions (submission_id)
            ON DELETE CASCADE
            ON UPDATE NO ACTION,
    FOREIGN KEY(question_id)
        REFERENCES questions (question_id)
            ON DELETE CASCADE
            ON UPDATE NO ACTION
)

 * sqlite:///GradeDB.db
Done.

[]

### submissions-table

In [9]:
%%sql
CREATE TABLE IF NOT EXISTS submissions (
    submission_id INTEGER PRIMARY KEY,
    assignment_id INTEGER,
    last_modified DATETIME, 
    FOREIGN KEY(assignment_id)
        REFERENCES assignments (assignment_id)
            ON DELETE CASCADE
            ON UPDATE NO ACTION
)

 * sqlite:///GradeDB.db
Done.

[]

### evaluation_requests-table

In [10]:
%%sql
CREATE TABLE IF NOT EXISTS evaluation_requests (
    evaluation_request_id INTEGER PRIMARY KEY,
    submission_id INTEGER,
    date DATETIME, 
    FOREIGN KEY(submission_id)
        REFERENCES submissions (submission_id)
            ON DELETE CASCADE
            ON UPDATE NO ACTION
)

 * sqlite:///GradeDB.db
Done.

[]

### evaluations-table

In [11]:
%%sql
CREATE TABLE IF NOT EXISTS evaluations (
    evaluation_id INTEGER PRIMARY KEY,
    evaluation_request_id INTEGER, 
    date DATETIME,
    grade FLOAT,
    FOREIGN KEY(evaluation_request_id)
        REFERENCES evaluation_requests (evaluation_request_id)
            ON DELETE CASCADE
            ON UPDATE NO ACTION
)

 * sqlite:///GradeDB.db
Done.

[]

### scores-table

In [12]:
%%sql
CREATE TABLE IF NOT EXISTS scores (
    score_id INTEGER PRIMARY KEY,
    evaluation_id INTEGER, 
    answer_id INTEGER,
    value INTEGER,
    FOREIGN KEY(evaluation_id)
        REFERENCES evaluations (evaluation_id)
            ON DELETE CASCADE
            ON UPDATE NO ACTION
)

 * sqlite:///GradeDB.db
Done.

[]

### evaluation_finished-table

In [13]:
%%sql
CREATE TABLE IF NOT EXISTS evaluation_finished (
    evaluation_finished_id INTEGER PRIMARY KEY,
    evaluation_id INTEGER,
    date DATETIME,
    FOREIGN KEY(evaluation_id)
        REFERENCES evaluations (evaluation_id)
            ON DELETE CASCADE
            ON UPDATE NO ACTION
)

 * sqlite:///GradeDB.db
Done.

[]